p{
    font: 24px "Fira Sans", sans-serif;
}

h1{
    font: 50px "Fira Sans", sans-serif;
}

em.is-invalid {
    color: #dc3545;
    font-size: 16px;
    font-style: normal;
}

.floatRight{
    float: right;
}

.infoCard{
    font-size: xx-large;
}

.rejectQuantities{
    font-size: xx-large;
    color: #dc3545; 
}

.acceptQuantities{
    font-size: xx-large;
    color: rgb(86, 143, 0); 
}

.lastUpdateDate{
    color: rgb(0, 99, 248);
}

.contentpacing{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.cardH5{
    color: rgb(0, 0, 0);
    text-align: left;
}

.card-body{
    font-size: x-large;
}

.cardInfo{
    display: inline;
    font-size: x-large;
}