$card-spacer-y : 1.5rem;
$border-radius: 0rem;
$dark: #1f2c34;


@import "../../Plugin/node_modules/bootstrap/scss/bootstrap";


$orderInfoFontSize : xx-large;
$generalFontSize : large;
$errorColor : #dc3545;
$successColor : rgb(86, 143, 0);


.card{
    .card-header{
        p{
            font: 20px "Fira Sans", sans-serif;
            color: rgb(0, 0, 0);
            text-align: left;
        }
    }
    .card-body{
        p{
            font: 18px "Fira Sans", sans-serif;
            text-align: center;
        }

        h5{
           font-size: $generalFontSize;
           
        }

        h6{
           font-size: $orderInfoFontSize;
        }

        .rejectQuantities{
            color: $errorColor; 
            font-size: $orderInfoFontSize;
        }
        
        .acceptQuantities{
            color: $successColor; 
            font-size: $orderInfoFontSize;
        }
    }
}

h1{
    font: 50px "Fira Sans", sans-serif;
}

em.is-invalid {
    color: $errorColor;
    font-size: 16px;
    font-style: normal;
}

.floatRight{
    float: right;
}


.lastUpdateDate{
    color: rgb(0, 99, 248);
}

.contentpacing{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}