p{
    font: 24px "Fira Sans", sans-serif;
}

h1{
    font: 50px "Fira Sans", sans-serif;
}

em.is-invalid {
    color: #dc3545;
    font-size: 16px;
    font-style: normal;
}

.floatRight{
    float: right;
}

.rejectQuantities{
    font-size: xx-large;
    color: #dc3545; 
}

.acceptQuantities{
    font-size: xx-large;
    color: rgb(86, 143, 0); 
}

.contentpacing{
    margin-top: 170px;
    margin-left: 10px;
    margin-right: 10px;
}